In [2]:
#Selection by label
#loc
#pandas.DataFrame.loc
#Access a group of rows and columns by label(s) or a boolean array
#loc[] is primarily label based, but may also be used with a boolean array
#Allowed inputs are:
#   1-A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index,
#and never as an integer position along the index).
#   2-A list or array of labels, e.g. ['a', 'b', 'c'].
#   3-A slice object with labels, e.g. 'a':'f'.
#   4-A boolean array of the same length as the axis being sliced, e.g. [True, False, True].
#   5-A callable function with one argument (the calling Series or DataFrame)
#and that returns valid output for indexing (one of the above)

import pandas as Behdad
ColumData1={"Measure1":["a1", [1,2], "Creating Data", "Jam", 24, 78.9, 31, 600],\
           "Measure2": ["ZZ","WW", [23, 1], "BB24", 43, 1.12, 786, 3],\
           "Measure3":[12, 3, 2, 8.999999, 4.8, 9, 45, 76], "Measure4":[1232, 3432, 788,46554, 324, 456, 5, 2],\
           "Measure5": ["er","WW", 34, "RRFF6", "WW", 94,"WW", 6],"Measure6": ["34ZZ","43WW", "True4", "24SS", 645, 4, 32, "43WW"],\
           "Measure7":[12, 454, 7, 95, 32, 1, 9, 8]}

#Single label. Note this returns the row as a Series
ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[1]
print(LOC3)

ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[2]
print(LOC3)

#List of labels. Note using [[]] returns a DataFrame
print("\n using [[]] returns a DataFrame")

ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[[0, 2, 3]]
print(LOC3)

ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[[0, 2, 3]]
print(LOC3)

#Single label for row and column
print("\nSingle label for row and column")
ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[1, "Measure2"]
print(LOC3)

print("\nSingle label for row and column")
ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[1, "Measure3"]
print(LOC3)

print("\nSingle label for row and column")
ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[3, "Measure5"]
print(LOC3)

#Slice with labels for row and single label for column
#As mentioned above, note that both the start and stop of the slice are included
print("\n Slice with labels Ex1:","\n 1:3")
ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[1:3, "Measure2"]
print(LOC3)

print("\n Slice with labels Ex2:", "\n 0:3")
ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[0:3, "Measure3"]
print(LOC3)

#Boolean list with the same length as the row axis
print('\n Boolean list with the same length as the row axis Ex1:')
ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[[True, False, True, False, True, False, True, False]]
print(LOC3)
print('\n Boolean list with the same length as the row axis Ex2:')
ColumData12=Behdad.DataFrame(ColumData1)
LOC3=ColumData12.loc[[True, False, False, False, True, False, True, False]]
print(LOC3)

#Conditional that returns a boolean Series
print('\n Conditional that returns a boolean Series Ex 1:', '\n Measure4>1000')
cond=ColumData12.loc[ColumData12['Measure4'] > 1000]
print(cond)

print('\n Conditional that returns a boolean Series Ex 2:', '\n Measure4<1000')
cond=ColumData12.loc[ColumData12['Measure4'] < 1000]
print(cond)

print('\n Conditional that returns a boolean Series Ex 2:', '\n Measure6==43WW')
cond=ColumData12.loc[ColumData12['Measure6']=="43WW"]
print(cond)

#Conditional that returns a boolean Series with column labels specified
print('\n Conditional that returns a boolean Series with column labels specified Ex1')
cond=ColumData12.loc[ColumData12['Measure4'] ==788, ['Measure6']]
print("\n Measure4==788 \n",cond)

print('\n Conditional that returns a boolean Series with column labels specified Ex1')
cond=ColumData12.loc[ColumData12['Measure3'] >=9, ['Measure6', 'Measure3', 'Measure1', 'Measure4']]
print("\n Measure3 >=9 \n",cond)

print('\n Conditional that returns a boolean Series with column labels specified Ex3')
cond=ColumData12.loc[ColumData12['Measure1'] =="Creating Data", ['Measure2', 'Measure1']]
print("\n 'Measure1==Creating Data \n", cond)

print('\n Conditional that returns a boolean Series with column labels specified Ex4')
cond=ColumData12.loc[ColumData12['Measure5'] !="WW", ['Measure2', 'Measure4', 'Measure5']]
print('\nMeasure5 !=WW',cond)


#Callable that returns a boolean Series
print('\n Callable that returns a boolean Series Ex1')
ColumData12.loc[lambda ColumData12: ColumData12['Measure2'] == 43]
print('\nMeasure2 ==43',cond)

Measure1    [1, 2]
Measure2        WW
Measure3         3
Measure4      3432
Measure5        WW
Measure6      43WW
Measure7       454
Name: 1, dtype: object
Measure1    Creating Data
Measure2          [23, 1]
Measure3                2
Measure4              788
Measure5               34
Measure6            True4
Measure7                7
Name: 2, dtype: object

 using [[]] returns a DataFrame
        Measure1 Measure2   Measure3  Measure4 Measure5 Measure6  Measure7
0             a1       ZZ  12.000000      1232       er     34ZZ        12
2  Creating Data  [23, 1]   2.000000       788       34    True4         7
3            Jam     BB24   8.999999     46554    RRFF6     24SS        95
        Measure1 Measure2   Measure3  Measure4 Measure5 Measure6  Measure7
0             a1       ZZ  12.000000      1232       er     34ZZ        12
2  Creating Data  [23, 1]   2.000000       788       34    True4         7
3            Jam     BB24   8.999999     46554    RRFF6     24SS        95

Single label for row and column
WW

Single label for row and column
3.0

Single label for row and column
RRFF6

 Slice with labels Ex1:
 1:3
1         WW
2    [23, 1]
3       BB24
Name: Measure2, dtype: object

 Slice with labels Ex2:
 0:3
0    12.000000
1     3.000000
2     2.000000
3     8.999999
Name: Measure3, dtype: float64

 Boolean list with the same length as the row axis Ex1:
        Measure1 Measure2  Measure3  Measure4 Measure5 Measure6  Measure7
0             a1       ZZ      12.0      1232       er     34ZZ        12
2  Creating Data  [23, 1]       2.0       788       34    True4         7
4             24       43       4.8       324       WW      645        32
6             31      786      45.0         5       WW       32         9

 Boolean list with the same length as the row axis Ex2:
  Measure1 Measure2  Measure3  Measure4 Measure5 Measure6  Measure7
0       a1       ZZ      12.0      1232       er     34ZZ        12
4       24       43       4.8       324       WW      645        32
6       31      786      45.0         5       WW       32         9

 Conditional that returns a boolean Series Ex 1:
 Measure4>1000
  Measure1 Measure2   Measure3  Measure4 Measure5 Measure6  Measure7
0       a1       ZZ  12.000000      1232       er     34ZZ        12
1   [1, 2]       WW   3.000000      3432       WW     43WW       454
3      Jam     BB24   8.999999     46554    RRFF6     24SS        95

 Conditional that returns a boolean Series Ex 2:
 Measure4<1000
        Measure1 Measure2  Measure3  Measure4 Measure5 Measure6  Measure7
2  Creating Data  [23, 1]       2.0       788       34    True4         7
4             24       43       4.8       324       WW      645        32
5           78.9     1.12       9.0       456       94        4         1
6             31      786      45.0         5       WW       32         9
7            600        3      76.0         2        6     43WW         8

 Conditional that returns a boolean Series Ex 2:
 Measure6==43WW
  Measure1 Measure2  Measure3  Measure4 Measure5 Measure6  Measure7
1   [1, 2]       WW       3.0      3432       WW     43WW       454
7      600        3      76.0         2        6     43WW         8

 Conditional that returns a boolean Series with column labels specified Ex1

 Measure4==788
   Measure6
2    True4

 Conditional that returns a boolean Series with column labels specified Ex1

 Measure3 >=9
   Measure6  Measure3 Measure1  Measure4
0     34ZZ      12.0       a1      1232
5        4       9.0     78.9       456
6       32      45.0       31         5
7     43WW      76.0      600         2

 Conditional that returns a boolean Series with column labels specified Ex3

 'Measure1==Creating Data
   Measure2       Measure1
2  [23, 1]  Creating Data

 Conditional that returns a boolean Series with column labels specified Ex4

Measure5 !=WW   Measure2  Measure4 Measure5
0       ZZ      1232       er
2  [23, 1]       788       34
3     BB24     46554    RRFF6
5     1.12       456       94
7        3         2        6

 Callable that returns a boolean Series Ex1

Measure2 ==43   Measure2  Measure4 Measure5
0       ZZ      1232       er
2  [23, 1]       788       34
3     BB24     46554    RRFF6
5     1.12       456       94
7        3         2        6

In [23]:
#Setting values by loc
import pandas as pd
DataFrame1Set1={"Measure1":[33, 44, 987, 789, 24, 78.9, 31, 600],\
           "Measure2": [34,6565, 6, 56, 43, 1.12, 786, 3],\
           "Measure3":[12, 3, 2, 8.999999, 4.8, 9, 45, 76], "Measure4":[1232, 3432, 788,46554, 324, 456, 5, 2],\
           "Measure5": [232,45, 34, 5665, 5454, 94,45, 6],"Measure6": [4334,33, 43, 565, 645, 4, 32, 34],\
           "Measure7":[12, 454, 7, 95, 32, 1, 9, 8]}

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
#Set value for all items matching the list of labels
print('\n Set value for all items matching the list of labels Ex1')
DataFrame1Set2.loc[[1,2], ['Measure6']]=111116060
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for all items matching the list of labels Ex2')
DataFrame1Set2.loc[[1,2,3,4], ['Measure6','Measure3','Measure5','Measure1']]=700080
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for all items matching the list of labels Ex3')
DataFrame1Set2.loc[[1,2,3,4,5], ['Measure2','Measure3','Measure4']]=11111899
print(DataFrame1Set2)


#Set value for an entire row
#Setting values by loc
import pandas as pd
DataFrame1Set1={"Measure1":[33, 44, 987, 789, 24, 78.9, 31, 600],\
           "Measure2": [34,6565, 6, 56, 43, 1.12, 786, 3],\
           "Measure3":[12, 3, 2, 8.99, 4.8, 9, 45, 76], "Measure4":[1232, 3432, 788,46554, 324, 456, 5, 2],\
           "Measure5": [232,45, 34, 5665, 5454, 94,45, 6],"Measure6": [4334,33, 43, 565, 645, 4, 32, 34],\
           "Measure7":[12, 454, 7, 95, 32, 1, 9, 8]}

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
#Set value for all items matching the list of labels
print('\n Set value for all items matching the list of labels Ex1')
DataFrame1Set2.loc[[1,2], ['Measure6']]=111116060
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for all items matching the list of labels Ex2')
DataFrame1Set2.loc[[1,2,3,4], ['Measure6','Measure3','Measure5','Measure1']]=700080
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for all items matching the list of labels Ex3')
DataFrame1Set2.loc[[1,2,3,4,5], ['Measure2','Measure3','Measure4']]=11111899
print(DataFrame1Set2)


#Set value for an entire row
#Setting values by loc
import pandas as pd
DataFrame1Set1={"Measure1":[33, 44, 987, 789, 24, 78.9, 31, 600],\
           "Measure2": [34,6565, 6, 56, 43, 1.12, 786, 3],\
           "Measure3":[12, 3, 2, 8.999999, 4.8, 9, 45, 76], "Measure4":[1232, 3432, 788,46554, 324, 456, 5, 2],\
           "Measure5": [232,45, 34, 5665, 5454, 94,45, 6],"Measure6": [4334,33, 43, 565, 645, 4, 32, 34],\
           "Measure7":[12, 454, 7, 95, 32, 1, 9, 8]}

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
#Set value for all items matching the list of labels
print('\n Set value for all items matching the list of labels Ex1')
DataFrame1Set2.loc[[1,2], ['Measure6']]=111116060
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for all items matching the list of labels Ex2')
DataFrame1Set2.loc[[1,2,3,4], ['Measure6','Measure3','Measure5','Measure1']]=700080
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for all items matching the list of labels Ex3')
DataFrame1Set2.loc[[1,2,3,4,5], ['Measure2','Measure3','Measure4']]=11111899
print(DataFrame1Set2)


#Set value for an entire row
DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for an entire row Ex1')
DataFrame1Set2.loc[1]=333
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for an entire row Ex2')
DataFrame1Set2.loc[0]=99999
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for an entire row Ex3')
DataFrame1Set2.loc[4]=887000
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for an entire row Ex4')
DataFrame1Set2.loc[5]=110100
print(DataFrame1Set2)


#Set value for an entire column
DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for an entire column Ex1')
DataFrame1Set2.loc[:, "Measure2"]="GIAN"
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for an entire column Ex1')
DataFrame1Set2.loc[:, "Measure5"]="HOPE"
print(DataFrame1Set2)


#Set value for rows matching callable condition
DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for rows matching callable condition Ex1')
DataFrame1Set2.loc[DataFrame1Set2["Measure5"]<46]=0
print(DataFrame1Set2)

DataFrame1Set2=pd.DataFrame(DataFrame1Set1)
print('\n Set value for rows matching callable condition Ex2')
DataFrame1Set2.loc[DataFrame1Set2["Measure1"]>70]="XXXXXX"
print(DataFrame1Set2)

 Set value for all items matching the list of labels Ex1
   Measure1  Measure2   Measure3  Measure4  Measure5   Measure6  Measure7
0      33.0     34.00  12.000000      1232       232       4334        12
1      44.0   6565.00   3.000000      3432        45  111116060       454
2     987.0      6.00   2.000000       788        34  111116060         7
3     789.0     56.00   8.999999     46554      5665        565        95
4      24.0     43.00   4.800000       324      5454        645        32
5      78.9      1.12   9.000000       456        94          4         1
6      31.0    786.00  45.000000         5        45         32         9
7     600.0      3.00  76.000000         2         6         34         8

 Set value for all items matching the list of labels Ex2
   Measure1  Measure2  Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0     34.00      12.0      1232       232      4334        12
1  700080.0   6565.00  700080.0      3432    700080    700080       454
2  700080.0      6.00  700080.0       788    700080    700080         7
3  700080.0     56.00  700080.0     46554    700080    700080        95
4  700080.0     43.00  700080.0       324    700080    700080        32
5      78.9      1.12       9.0       456        94         4         1
6      31.0    786.00      45.0         5        45        32         9
7     600.0      3.00      76.0         2         6        34         8

 Set value for all items matching the list of labels Ex3
   Measure1    Measure2    Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0        34.0        12.0      1232       232      4334        12
1      44.0  11111899.0  11111899.0  11111899        45        33       454
2     987.0  11111899.0  11111899.0  11111899        34        43         7
3     789.0  11111899.0  11111899.0  11111899      5665       565        95
4      24.0  11111899.0  11111899.0  11111899      5454       645        32
5      78.9  11111899.0  11111899.0  11111899        94         4         1
6      31.0       786.0        45.0         5        45        32         9
7     600.0         3.0        76.0         2         6        34         8

 Set value for all items matching the list of labels Ex1
   Measure1  Measure2  Measure3  Measure4  Measure5   Measure6  Measure7
0      33.0     34.00     12.00      1232       232       4334        12
1      44.0   6565.00      3.00      3432        45  111116060       454
2     987.0      6.00      2.00       788        34  111116060         7
3     789.0     56.00      8.99     46554      5665        565        95
4      24.0     43.00      4.80       324      5454        645        32
5      78.9      1.12      9.00       456        94          4         1
6      31.0    786.00     45.00         5        45         32         9
7     600.0      3.00     76.00         2         6         34         8

 Set value for all items matching the list of labels Ex2
   Measure1  Measure2  Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0     34.00      12.0      1232       232      4334        12
1  700080.0   6565.00  700080.0      3432    700080    700080       454
2  700080.0      6.00  700080.0       788    700080    700080         7
3  700080.0     56.00  700080.0     46554    700080    700080        95
4  700080.0     43.00  700080.0       324    700080    700080        32
5      78.9      1.12       9.0       456        94         4         1
6      31.0    786.00      45.0         5        45        32         9
7     600.0      3.00      76.0         2         6        34         8

 Set value for all items matching the list of labels Ex3
   Measure1    Measure2    Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0        34.0        12.0      1232       232      4334        12
1      44.0  11111899.0  11111899.0  11111899        45        33       454
2     987.0  11111899.0  11111899.0  11111899        34        43         7
3     789.0  11111899.0  11111899.0  11111899      5665       565        95
4      24.0  11111899.0  11111899.0  11111899      5454       645        32
5      78.9  11111899.0  11111899.0  11111899        94         4         1
6      31.0       786.0        45.0         5        45        32         9
7     600.0         3.0        76.0         2         6        34         8

 Set value for all items matching the list of labels Ex1
   Measure1  Measure2   Measure3  Measure4  Measure5   Measure6  Measure7
0      33.0     34.00  12.000000      1232       232       4334        12
1      44.0   6565.00   3.000000      3432        45  111116060       454
2     987.0      6.00   2.000000       788        34  111116060         7
3     789.0     56.00   8.999999     46554      5665        565        95
4      24.0     43.00   4.800000       324      5454        645        32
5      78.9      1.12   9.000000       456        94          4         1
6      31.0    786.00  45.000000         5        45         32         9
7     600.0      3.00  76.000000         2         6         34         8

 Set value for all items matching the list of labels Ex2
   Measure1  Measure2  Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0     34.00      12.0      1232       232      4334        12
1  700080.0   6565.00  700080.0      3432    700080    700080       454
2  700080.0      6.00  700080.0       788    700080    700080         7
3  700080.0     56.00  700080.0     46554    700080    700080        95
4  700080.0     43.00  700080.0       324    700080    700080        32
5      78.9      1.12       9.0       456        94         4         1
6      31.0    786.00      45.0         5        45        32         9
7     600.0      3.00      76.0         2         6        34         8

 Set value for all items matching the list of labels Ex3
   Measure1    Measure2    Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0        34.0        12.0      1232       232      4334        12
1      44.0  11111899.0  11111899.0  11111899        45        33       454
2     987.0  11111899.0  11111899.0  11111899        34        43         7
3     789.0  11111899.0  11111899.0  11111899      5665       565        95
4      24.0  11111899.0  11111899.0  11111899      5454       645        32
5      78.9  11111899.0  11111899.0  11111899        94         4         1
6      31.0       786.0        45.0         5        45        32         9
7     600.0         3.0        76.0         2         6        34         8

 Set value for an entire row Ex1
   Measure1  Measure2    Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0     34.00   12.000000      1232       232      4334        12
1     333.0    333.00  333.000000       333       333       333       333
2     987.0      6.00    2.000000       788        34        43         7
3     789.0     56.00    8.999999     46554      5665       565        95
4      24.0     43.00    4.800000       324      5454       645        32
5      78.9      1.12    9.000000       456        94         4         1
6      31.0    786.00   45.000000         5        45        32         9
7     600.0      3.00   76.000000         2         6        34         8

 Set value for an entire row Ex2
   Measure1  Measure2      Measure3  Measure4  Measure5  Measure6  Measure7
0   99999.0  99999.00  99999.000000     99999     99999     99999     99999
1      44.0   6565.00      3.000000      3432        45        33       454
2     987.0      6.00      2.000000       788        34        43         7
3     789.0     56.00      8.999999     46554      5665       565        95
4      24.0     43.00      4.800000       324      5454       645        32
5      78.9      1.12      9.000000       456        94         4         1
6      31.0    786.00     45.000000         5        45        32         9
7     600.0      3.00     76.000000         2         6        34         8

 Set value for an entire row Ex3
   Measure1   Measure2       Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0      34.00      12.000000      1232       232      4334        12
1      44.0    6565.00       3.000000      3432        45        33       454
2     987.0       6.00       2.000000       788        34        43         7
3     789.0      56.00       8.999999     46554      5665       565        95
4  887000.0  887000.00  887000.000000    887000    887000    887000    887000
5      78.9       1.12       9.000000       456        94         4         1
6      31.0     786.00      45.000000         5        45        32         9
7     600.0       3.00      76.000000         2         6        34         8

 Set value for an entire row Ex4
   Measure1  Measure2       Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0      34.0      12.000000      1232       232      4334        12
1      44.0    6565.0       3.000000      3432        45        33       454
2     987.0       6.0       2.000000       788        34        43         7
3     789.0      56.0       8.999999     46554      5665       565        95
4      24.0      43.0       4.800000       324      5454       645        32
5  110100.0  110100.0  110100.000000    110100    110100    110100    110100
6      31.0     786.0      45.000000         5        45        32         9
7     600.0       3.0      76.000000         2         6        34         8

 Set value for an entire column Ex1
   Measure1 Measure2   Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0     GIAN  12.000000      1232       232      4334        12
1      44.0     GIAN   3.000000      3432        45        33       454
2     987.0     GIAN   2.000000       788        34        43         7
3     789.0     GIAN   8.999999     46554      5665       565        95
4      24.0     GIAN   4.800000       324      5454       645        32
5      78.9     GIAN   9.000000       456        94         4         1
6      31.0     GIAN  45.000000         5        45        32         9

7     600.0     GIAN  76.000000         2         6        34         8

 Set value for an entire column Ex1
   Measure1  Measure2   Measure3  Measure4 Measure5  Measure6  Measure7
0      33.0     34.00  12.000000      1232     HOPE      4334        12
1      44.0   6565.00   3.000000      3432     HOPE        33       454
2     987.0      6.00   2.000000       788     HOPE        43         7
3     789.0     56.00   8.999999     46554     HOPE       565        95
4      24.0     43.00   4.800000       324     HOPE       645        32
5      78.9      1.12   9.000000       456     HOPE         4         1
6      31.0    786.00  45.000000         5     HOPE        32         9
7     600.0      3.00  76.000000         2     HOPE        34         8

 Set value for rows matching callable condition Ex1
   Measure1  Measure2   Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0     34.00  12.000000      1232       232      4334        12
1       0.0      0.00   0.000000         0         0         0         0
2       0.0      0.00   0.000000         0         0         0         0
3     789.0     56.00   8.999999     46554      5665       565        95
4      24.0     43.00   4.800000       324      5454       645        32
5      78.9      1.12   9.000000       456        94         4         1
6       0.0      0.00   0.000000         0         0         0         0
7       0.0      0.00   0.000000         0         0         0         0

 Set value for rows matching callable condition Ex1
  Measure1 Measure2 Measure3 Measure4 Measure5 Measure6 Measure7
0       33       34       12     1232      232     4334       12
1       44     6565        3     3432       45       33      454
2   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX
3   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX
4       24       43      4.8      324     5454      645       32
5   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX
6       31      786       45        5       45       32        9
7   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX   XXXXXX

In [29]:
#Getting values on a DataFrame with an index that has integer labels
import pandas as pd
DataFrameGET={"Measure1":[33, 44, 987, 789, 24, 78.9, 31, 600],\
           "Measure2": [34,6565, 6, 56, 43, 1.12, 786, 3],\
           "Measure3":[12, 3, 2, 8.999999, 4.8, 9, 45, 76], "Measure4":[1232, 3432, 788,46554, 324, 456, 5, 2],\
           "Measure5": [232,45, 34, 5665, 5454, 94,45, 6],"Measure6": [4334,33, 43, 565, 645, 4, 32, 34],\
           "Measure7":[12, 454, 7, 95, 32, 1, 9, 8]}


DataFrameGET2=pd.DataFrame(DataFrameGET)
print(DataFrameGET2)

#Slice with integer labels for rows
print("Slice with integer labels for rows Ex1")
gg=DataFrameGET2.loc[0:5]
print(gg)

print("Slice with integer labels for rows Ex2")
gg=DataFrameGET2.loc[2:4]
print(gg)

   Measure1  Measure2   Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0     34.00  12.000000      1232       232      4334        12
1      44.0   6565.00   3.000000      3432        45        33       454
2     987.0      6.00   2.000000       788        34        43         7
3     789.0     56.00   8.999999     46554      5665       565        95
4      24.0     43.00   4.800000       324      5454       645        32
5      78.9      1.12   9.000000       456        94         4         1
6      31.0    786.00  45.000000         5        45        32         9
7     600.0      3.00  76.000000         2         6        34         8
Slice with integer labels for rows Ex1
   Measure1  Measure2   Measure3  Measure4  Measure5  Measure6  Measure7
0      33.0     34.00  12.000000      1232       232      4334        12
1      44.0   6565.00   3.000000      3432        45        33       454
2     987.0      6.00   2.000000       788        34        43         7
3     789.0     56.00   8.999999     46554      5665       565        95
4      24.0     43.00   4.800000       324      5454       645        32
5      78.9      1.12   9.000000       456        94         4         1
Slice with integer labels for rows Ex2
   Measure1  Measure2  Measure3  Measure4  Measure5  Measure6  Measure7
2     987.0       6.0  2.000000       788        34        43         7
3     789.0      56.0  8.999999     46554      5665       565        95
4      24.0      43.0  4.800000       324      5454       645        32